<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404!</title>

  <link rel="stylesheet" href="extra_style.css" />
</head>
<body>
    <div class="page-wrap">
        <h1>404</h1>
        <div class="content">
        <h2>Either you aren't cool enough to visit this page<br>
            or it doesn't exist ... like your social life
        </h2>
        <a href="/" class="button">GO HOME</a>
        </div>
    </div>
</body>
</html>